<%#========== Header ==========%>
<%= render 'shared/admin/header' %>

<div class="container-fluid">
  <div class="row">
    <%#========== Sidebar ==========%>
    <%= render 'shared/admin/sidebar' %>

    <%#========== Main ==========%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <%# ========== Header ========== %>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 my-2"><%= controller_name.capitalize  %></h1>
        <%= link_to 'New Article', new_admin_article_path, class: 'btn btn-sm btn-primary' %>
      </div>

      <%#========== Form ==========%>
        <%= form_with(model: [:admin, article]) do |form| %>
          <%= render 'shared/admin/errors', obj: article %>
          <div class="row">
            <div class="col-md-8">
              <div class="mb-2">   
                <%= form.label :title, class: 'form-label' %>
                <%= form.text_field :title, class: 'form-control' %>
              </div>

              <div class="mb-2">
                <%= form.label :content, class: 'form-label' %>
                <%= form.rich_text_area :content, class: 'form-control', rows: 15 %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
              <% if article.fetimg.attached? %>
                <%= image_tag article.fetimg.variant(:thumb) %>
              <% end %>
              </div>
              <div class="mb-2">
                <%= form.label :fetimg, class: 'form-label'%>
                <%= form.file_field :fetimg %>
              </div>
              <div class="mb-2">
                <%= form.label :pubdate, class: 'form-label' %>
                <%= form.date_field :pubdate, class: 'form-control' %>
              </div>

              <div class="mb-2">
                <%= form.label :status, class: 'form-label' %>
                <%= form.select :status, options_for_select(Article.statuses.map {|key, value| [key.titleize, Article.statuses.key(value)]}, @article.status) %>
              </div>

              <div class="mb-2 form-check p-0">
                <%= form.label :categories, class: 'form-check-label d-block mb-2' %>
                <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
                  <%= b.check_box(class: "btn-check") %>
                  <%= b.label(:"data-value" => b.value, class: "btn btn-outline-primary text-start btn-sm rounded-0") %>
                <% end %>
              </div>


              <div class="mb-2">
                <%= form.submit(article.new_record? ? 'Save' : 'Update', class: 'btn btn-sm btn-success') %>
                <%= link_to 'Cancle', admin_articles_path, class: 'btn btn-sm btn-danger' %>
              </div>
            </div>
          </div>
        <% end %>       
      </div>
    </main>
  </div>
