<!-- site wrapper -->
<div class="site-wrapper">
	<!-- header -->
  <%= render 'shared/frontend/header' %>

  <%# Slider %>
  <%= render 'slider' %>

  <!-- section main content -->
	<section class="main-content">
		<div class="container-xl">
			<div class="row gy-4">
				<div class="col-lg-8">
          <div class="row gy-4">
            <% @articles.each do |article| %>
              <div class="col-sm-6">
                <div class="post post-grid rounded bordered">
                  <div class="thumb top-rounded">
                    <% if article.categories.present? %>
                      <%= link_to article.categories.last.name, '#', class: 'category-badge position-absolute' %>
                    <% end %>
                      <span class="post-format">
                        <i class="icon-picture"></i>
                      </span>
                    <!-- <a href="category.html" class="category-badge position-absolute">Lifestyle</a> -->
                        <!-- <span class="post-format"> -->
                            <!-- <i class="icon-picture"></i> -->
                        <!-- </span> -->
                    <div class="inner">
                      <% if article.fetimg.attached? %>
                        <%= image_tag article.fetimg.variant(:frontthumb), class: 'img-fluid' %>
                      <% end %>
                    </div>
                  </div>
                  
                  <div class="details">
                    <ul class="meta list-inline mb-0">
                      <li class="list-inline-item">
                        Author 
                        <%= link_to article.user.email, class: 'author', alt: 'author' %>
                      </li>
                      <li class="list-inline-item"><%= article.pubdate.strftime("%b %d, %Y") %></li>
                    </ul>
                    <h5 class="post-title mb-3 mt-3">
                      <%= link_to article.title.truncate(40), article_path(article) %>
                    </h5>
                    <p class="excerpt mb-0">
                      <%= article.content.to_plain_text.truncate(100)  %>
                    </p>
                  </div>
                  
                  <div class="post-bottom clearfix d-flex align-items-center">
                    <div class="social-share me-auto">
                      <ul class="icons list-unstyled list-inline mb-0">
                        <li class="list-inline-item">
                          <a href="#">  
                            <i class="bi bi-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="bi bi-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="bi bi-linkedin"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="bi bi-pinterest"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="bi bi-telegram"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <i class="bi bi-envelope"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="more-button float-end">
                      <a href="blog-single.html">
                        <i class="bi bi-three-dots-vertical"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            <%# End of column-sm-6%>
          </div>

          <%# Pagination %>
					<%= render 'pagination' %>
				</div>

        <%# Sidebar %>
        <%= render 'shared/frontend/sidebar' %>
			</div>
		</div>
	</section>

	<!-- instagram feed -->
  <%= render 'shared/frontend/instagram' %>

  <!-- footer -->
  <%= render 'shared/frontend/footer' %>

</div>
<!-- end site wrapper -->

<!-- search popup area -->
<div class="search-popup">
	<!-- close button -->
	<button type="button" class="btn-close" aria-label="Close"></button>
	<!-- content -->
	<div class="search-content">
		<div class="text-center">
			<h3 class="mb-4 mt-0">Press ESC to close</h3>
		</div>
		<!-- form -->
		<form class="d-flex search-form">
			<input class="form-control me-2" type="search" placeholder="Search and press enter ..." aria-label="Search">
			<button class="btn btn-default btn-lg" type="submit"><i class="bi bi-search"></i></button>
		</form>
	</div>
</div>
