<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8" />
    <title>rorblog - Blog Built on Ruby on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="author" content="Chris Mills" />
    <meta
      name="description"
      content="" />
    <meta
      property="og:image"
      content="https://developer.mozilla.org/mdn-social-share.png" />
    <meta
      property="og:description"
      content="" />
    <meta property="og:title" content="" />
    <meta name="twitter:title" content="" />

    <!-- third-generation iPad with high-resolution Retina display: -->
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'apple-touch-icon-precomposed', sizes: '144x144' %>
    <!-- iPhone with high-resolution Retina display: -->
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'apple-touch-icon-precomposed', sizes: '114x114' %>
    <!-- first- and second-generation iPad: -->
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'apple-touch-icon-precomposed', sizes: '72x72' %>
    <!-- non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'apple-touch-icon-precomposed' %>
    <!-- basic favicon -->
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon' %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="frontend <%= controller_name %>">
    <% if notice %>
      <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <p class="notice mb-0"><%= notice %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
        <p class="alert mb-0"><%= alert %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>    
   
    <%= yield %>
  </body>
</html>
